.modal{
  &__input{
    display: flex;
    gap: 20px;
    margin: 12px 0;
  }
  &__label{
    width: 70px;
    text-align: left ;
  }
  &__data{
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 3px;
  }
  &__image{
    border: 1px solid lightgray;
    border-radius: 12px;
  }
}